#container
{
	display:block;
	width:900px;
	margin-left: auto;
	margin-right: auto;
}

.navcontainer_class
{
	float:left;
}

.content_container
{
	float:left;
}

#navcontainer
{
width: 20em;
border-right: 1px solid #000;
padding: 0 0 1em 0;
margin-bottom: 1em;
font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
background-color: #90bade;
color: #333;
font-size: small;
}

#navcontainer ul
{
list-style: none;
margin: 0;
padding: 0;
border: none;
}

#navcontainer li
{
border-bottom: 1px solid #90bade;
border-left: 10px solid #1958b7;
border-right: 10px solid #508fc4;
margin: 0;
}

#navcontainer li.selected_station
{
border-bottom: 1px solid #90bade;
border-left: 10px solid #FF8080;
border-right: 10px solid #508fc4;
margin: 0;
}


#navcontainer li div
{
display: block;
padding: 5px 5px 5px 0.5em;
background-color: #2175bc;
color: #fff;
text-decoration: none;
width: 100%;
}

html>body #navcontainer li a { width: auto; }
html>body #navcontainer li div { width: auto; }

#navcontainer li a:hover
{
border-left: 10px solid #1c64d1;
border-right: 10px solid #5ba3e0;
background-color: #2586d7;
color: #fff;
}